body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin: 1rem;
}

label {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  gap: 4px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

select {
  font-size: 1rem;
  flex-grow: 1;
}

nav {
  max-width: 320px;
  width: 20%;
}

section {
  display: flex;
  gap: 2rem;
}

input,
textarea {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
